.header {
  grid-column: 1/-1;
  position: relative;
  font-stretch: ultra-condensed;
  display: flex;
  font-size: 45px;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.logo {
  background-size: contain;
  padding: 70px;
  grid-column: 2/2;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.title {
  grid-column: 2/2;
  font-size: 30px;
  color: rgb(28, 87, 28);
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: -40px;

  &::before {
    content: attr(title);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.span {
  padding-top: 40px;
}

@media screen and(min-width: 1024px) {
  .header,
  .logo,
  .title {
    grid-template-columns: repeat(12, 1fr);
  }
  .header {
    grid-column: 1/-1;
    font-size: 18px;
  }
  .logo,
  .title {
    grid-column: 6/-6;
    font-size: 20px;
    margin-bottom: -15px;
  }
  .title {
    margin-left: 11px;
  }
}

@media screen and(min-width: 768px) {
  .header,
  .logo,
  .title {
    grid-template-columns: repeat(8, 1fr);
  }
  .header {
    grid-column: 1/-1;
    font-size: 30px;
    margin-bottom: 75px;
  }
  .logo,
  .title {
    grid-column: 6/-6;
    font-size: 20px;
    margin-bottom: -15px;
  }
  .title {
    margin-left: 11px;
  }
}
