// Mobile
.car {
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 4/-4;
  grid-row: 4/0;
  padding: 25.44%;
}

//Tablet

@media screen and(min-width: 768px) {
  .car {
    grid-column: 9/-9;
  }
}
